.phonelist_div {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 8vw;
    padding-bottom: 2vw;
}

.phonelist_div div {
    flex-grow: 1;
    flex-basis: 25%;
    
}

@media only screen and (max-width: 550px) {
    .phonelist_div {
        
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 5vw;
        padding-bottom: 1vw;
    }
    
    .phonelist_div div {
        flex-grow: 1;
        flex-basis: 50%;
        
    }
}