.phoneshop_head {
    width: 100%;
    height: 17vw;
}

.phoneshop_head img{
    width: 100%;
    height: 100%;
}

.phoneshop_head h1 {
    
    position: relative;
    left: 30%;
    color: white;
    bottom: 80%;
    font-size: 6vw;
}

