.about_div {
    width: 96%;
    height: 55vw;
    background-color: #254A50;
    display: flex;
    
}

.about_text {
    position: relative;
    width: 60%;
    height: 80%;
    top: 12%;
    left: 5%;
    margin-left: 10px;
    background-color: #C3C3C3;
    
}

.about_text p{
    width: 90%;
    margin-left: 2em;
    font-size: 1.7vw;
    margin-top: 5em;

}
.about_sidebar {
    position: relative;
    background-color: #41C0A1;
    width: 30%;
    height: 90%;
    top: 8%;
    left: 4%;
}

.about_sidebar img {
    position: relative;
    width: 50%;
    top: 8%;
    margin-left: 7vw;
    border-radius: 50%;
    box-shadow: black 5px 7px 2px;
}

.about_sidebar .about_sidebar_text{
    position: relative;
    width: 90%;
    top: 20%;
    left: 5%;
    font-size: 1.7vw;
}

.about_sidebar span {
    color: white;
    font-size: 2vw;

}

@media only screen and (max-width: 550px) {
    .about_div {
        width: 96%;
        height: auto;
        background-color: #254A50;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .about_text {
        
        position: relative;
        max-height: 40vh;
        max-width: 90%;
        top: 0;
        left: 1.9vw;
        width: 90%;
        height: auto;
        margin-bottom: 4vw;
        
    }
    
    .about_text p{
      font-size: 2vw;
    
    }
    .about_sidebar {
        margin-top: 2vw;
        width: 90%;
        height: 15vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .about_sidebar img {
        
        width: 20vw;
        height: 20vw;
        box-shadow: 1px 1px 1px black;
        margin-left: 2vw;
    }
    
    .about_sidebar .about_sidebar_text{
        width: 90%;
        height: 80%;
        font-size: 2vw;
        top: 20%;
        left: 2%;
    }
    
    .about_sidebar span { 
        font-size: 3vw;
    }

}