.phone_block {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 1em;
    width: 14vw;
    height: 15vw;
    padding: 0.7%;
    background: #C3C3C3;
    margin-top: 2vw;
    align-items: center;
}

.phone_block img {
    border-radius: 2em;
    margin-bottom: 0.5em;
    padding-top: 0.5vw;
    width: 10vw;
}

.phone_text {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    padding: 0.2em;
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
    text-shadow: black 1px 0.5px 1px ;
    
}

.phone_text .phone_text_left{
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_text .phone_text_right{
    flex: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}