.ModelPhone_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.ModelPhone_inner {
    position: relative;
    width: 100%;
    max-width: 60vw;
    background-color: #C3C3C3;
    border-radius: 2em;
    border: black 2px solid;
    box-shadow: black 4px 6px 3px;

    display: flex;
    flex-direction: column;
    
}

.ModelPhone_Top{
    display: flex;
    padding: 2em;
    justify-content: space-between;
}

.ModelPhone_Top img {
    position: relative;
    flex: 50%;
    width: 20vw;
    border-radius: 2vw;
    margin-left: 4vw;
    border-bottom: black 2px solid;
}

.ModelPhone_Top table {
    position: relative;
    flex: 50%;
    width: 100%;
    border-radius: 2em;
    font-size: 1.1vw;
}

.ModelLine_tr td{
    padding: 0.3em;
    border-bottom: black solid 1px;
}

.ModelLine_tr .spec_td{
    flex: 50%;
    text-align: left;
}

.ModelLine_tr .value_td{
    flex: 50%;
    text-align: right;
}


.ModelPhone_Description {
    background-color: gray;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    margin-bottom: 1vw ;
    font-size: 1.3vw;
}

.ModelPhone_Description p{
    text-align: left;
    margin-left: 1vw;
}
.ModelPhone_Description .description{
    margin-bottom: 1em;
    color: white;
}

@media only screen and (max-width: 550px) {
    .ModelPhone_block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        
    }
    
    .ModelPhone_inner {
        position: relative;
        width: 100%;
        max-width: 80vw;
        background-color: #C3C3C3;
        border-radius: 2em;
        border: black 2px solid;
        box-shadow: black 4px 6px 3px;
    
        display: flex;
        flex-direction: column;
        
    }
    
    .ModelPhone_Top{
        display: flex;
        padding: 2em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .ModelPhone_Top img {
        position: relative;
        flex: 50%;
        width: 40vw;
        border-radius: 2vw;

        border-bottom: black 2px solid;
    }
    
    .ModelPhone_Top table {
        position: relative;
        flex: 50%;
        width: 100%;
        border-radius: 2em;
        font-size: 2.5vw;
    }
    
    .ModelLine_tr td{
        padding: 0.3em;
        border-bottom: black solid 1px;
    }
    
    .ModelLine_tr .spec_td{
        flex: 50%;
        text-align: left;
    }
    
    .ModelLine_tr .value_td{
        flex: 50%;
        text-align: right;
    }
    
    
    .ModelPhone_Description {
        background-color: gray;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        margin-bottom: 1vw ;
        font-size: 2.5vw;
    }
    
    .ModelPhone_Description p{
        text-align: left;
        margin-left: 1vw;
    }
    .ModelPhone_Description .description{
        margin-bottom: 1em;
        margin-left: 1em;
        color: white;
    }
}